{% extends "base.html" %}

{% load custom_filters %}

{% block title %}{{ object.name }}{% endblock %}

{% block style %}
    <style type="text/css">
        table {
            margin: 15px;
            width: 800px;
        }
        tr {
            height: 15%;
        }
        td {
            padding: 7px;
        }
    </style>
{% endblock %}

{% block form %}{% endblock %}

{% block content %}
<div class="container">
{% load crispy_forms_tags %}
    <table align="center">
        <tr>
            <td rowspan="5" width="300px" align="center"><img src="{{ object.image.url }}" alt="Изображение" width="auto" height="400px"></td>
            <td height="15%"><h3>{{ object.name }}</h3></td>
        </tr>
        <tr>
            <td height="70px">
                {% for manufac in object.manufacturer.all %}
                    <h4>{{ manufac }}</h4>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td height="70px">
                <h3>{{ object.price }} BYN</h3>
            </td>
        </tr>
        <tr>
            <td height="70px">
                {% if object.available %}
                    <a href="{% url 'add-to-cart' object.pk %}" class="btn btn-primary">Добавить в корзину
                        <img src="https://img.icons8.com/doodle/24/000000/wheelbarrow.png"></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td height="120px">
                {{ object.description|default:"" }}
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <th>Серия_самокатов</th>
            <td>{{ object.serie }}</td>
        </tr>
        <tr>
            <th>Производитель</th>
            <td>
                {{ object.manufacturer }}
            </td>
        </tr>
        <tr>
            <th>Год выпуска</th>
            <td>{{ object.year}}</td>
        </tr>
        <tr>
            <th>Номер</th>
            <td>{{ object.identityNum }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ object.description }}</td>
        </tr>
        <tr>
            <th>Кол-во</th>
            <td>{{ object.book_amount }}</td>
        </tr>
        <tr>
            <th>Вес</th>
            <td>{{ object.weight }}</td>
        </tr>
        <tr>
            <th>Кол-во</th>
            <td>{{ object.book_amount }}</td>
        </tr>
        <tr>
            <th>Наличие</th>
            <td>
                {{ object.available|filter_available }}
            </td>
        </tr>
        <tr>
            <th>Рейтинг</th>
            <td>{{ object.rate }}</td>
        </tr>
    </table>

</div>
 {% endblock %}
