{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block title %}
    Профиль пользователя {{ object.username }}
{% endblock %}

{% block form %}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Ваш профиль</h2>
        <table class="table table-striped">
            <tr>
                <th>Логин</th>
                <td>{{ object.username }}</td>
            </tr>
            <tr>
                <th>Фамиля</th>
                <td>{{ object.first_name }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ object.last_name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ object.email }}</td>
            </tr>
        </table>
        <a href="{% url 'update-user' user.pk %}" class="btn btn-primary">Редактировать профиль</a>
        <a href="{% url 'change-password' %}" class="btn btn-warning">Поменять пароль</a>
    </div>
{% endblock %}